.form {
    width: 20%;
    height: 650px;
    margin: auto;
    margin-top: 3%;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 100px;
    border-radius: 10px;
}

#loginHeader {
    margin: 0 auto;
    font-size: 2em;
}

label {
    display: block;
    padding-left: 5%;
    padding-top: 5px;
    font-size: 1em;
    color: rgb(0, 0, 0, 0.6);
}

input {
    width: 80%;
    height: 30px;
    margin-bottom: 5%;
    font-size: 1.25em;
    border: none;
    border-bottom: 1px solid black;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

#loginButton {
    display: block;
    margin: auto;
    height: 40px;
    width: 80%;
    border-radius: 100px;
    border: 1px solid black;
    font-size: 1em;
}