.NavBar {
    display: flex;
    position: sticky;
    width: 100%;
    justify-content: space-between;
    padding: 5px 25px 5px 5px;
    border-bottom: 2px solid rgb(0,0,0, 0.3);
    background-color: rgb(188,236,181);
}

.brand {
    display: flex;
    width: 10%;
    justify-content: space-between;
    padding-left: 10px;
}

.buttons {
    padding-right: 100px;
}

.button {
    margin: 10px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
}

.button:hover {
    background-color: #bbb;
    transition: all 0.4s;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
}

.logo {
    width: 40%;
}

p {
    display: inline-block;
}